@media screen and (max-width: 768px) {
  .detail-employee {
    flex-wrap: wrap;
    gap: 0px;
  }
  .calender-emp {
    grid-template-columns: auto auto auto auto;
  }
  .attendance-calender {
    width: 100%;
  }
  .set-status {
    flex-wrap: wrap;
    gap: 0;
  }
  select.border.status-details.rounded.px-2.py-1.w-full {
    width: 100%;
  }
  .attendance-calender h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
  .attendance-view {
    width: 100%;
    padding: 0 20px 20px 20px;
  }
  .fixed.inset-0.bg-black.bg-opacity-50.flex.items-center.justify-center {
    width: 90%;
  }
  .sefie-img {
    width: 225px;
    border-radius: 5px;
}
video.w-full.h-60.object-cover {
    width: 100%;
}
button.capture-btn{
    width: 100%;
}
button.close-btn {
   
    width: 95%;
   
}
.form-login {
    width: 70%;
    margin: 40px 40px;
}
.form-con {
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 100vh;
 
}
.register-form {
    width: 70%;
}
.home-link {
    position: fixed;
    top: 20px;
    left: 20px;
}
.registe-con {
    align-content: center;
}

.user-con {
 flex-wrap: wrap;
width: 100%;
gap: 30px;
padding: 0 0 50px 0
}
h2.dashboard-heading {
    font-size: 33px;
    margin-top: 20px;
    padding: 10px;
}
.manager-con{
    flex-wrap: wrap;
}
.user-info{
    margin: 20px;
    width: 100%;


}
.calendar {
    display: grid
;
    grid-template-columns: auto auto auto auto ;
    gap: 22px;
}
.attend-detail{
    flex-wrap: wrap;
    gap: 20px;
}
.details {
    display: flex
;
    gap: 22px;
    align-items: anchor-center;
}
button.search-btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #000088;
    color: #fff;
    margin: 20px 0;
}
button.search-btn:hover {
   
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}
.user-info input {
    
    margin: 15px 0px 0px 0px;
  
}
.employee{
    margin: 20px;
    width: 100%;
}
.time-date {
    padding: 15px;
    background: #000088cc;
    position: relative;
    top: 0px;
    display: flex
;
    left: 0px;
    justify-content: space-around;
    width: 100%;

    color: #fff;
  
    backdrop-filter: blur(50px);
}
}
